.routes_page__container {
  max-width: 1490px;
  margin: 0 auto;
  display: flex;
}
.routes_page__aside {
  width: 100%;
  max-width: 448px;
  min-height: 100vh;
  background-color: #333;
}
.routes_page__main {
  width: 100%;
  max-width: calc(100% - 448px);
  padding: 0 41px 0 41px;
}
.routes__item {
  margin-bottom: 47px;
}
.route {
  display: flex;
  word-wrap: break-word;
  font-family: inherit;
  color: var(--text-primary);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.route__train {
  background-color: #e4e0e9;
  padding: 57px 0 30px 28px;
  width: 197px;
  border-bottom: 1px solid #c4c4c4;
}
.route__train_logo {
  padding-left: 16px;
  margin-bottom: 12px;
}
.route__train_id {
  padding-left: 30px;
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-grey-700);
}
.route__train_from svg {
  display: inline-block;
  margin-left: 7px;
}
.route__train_from,
.route__train_to {
  text-transform: capitalize;
}
.route__body {
  display: flex;
  width: calc(100% - 197px);
  position: relative;
  border: 1px solid #c4c4c4;
  border-left: none;
}
.route__body_time {
  width: 62.86%;
  max-width: 480px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-right: 1px dashed #e5e5e5;
}
.route_time {
  display: flex;
  padding: 39px 10px 24px 10px;
}
.route_time__item {
  display: flex;
  flex-direction: column;
  width: 52%;
  padding-left: 48px;
}
.route_time__item--from {
  width: 40%;
  padding-left: 30px;
}
.route_time__duration {
  display: flex;
  width: 8%;
  flex-direction: column;
  align-items: center;
}
.route_time__duration_time {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--text-grey-100);
}
.route_time__duration svg.reversed {
  transform: rotate(180deg);
}
.route_time__time {
  color: #000;
  font-weight: 700;
  font-size: 24px;
}
.route_time__city {
  font-size: 18px;
  text-transform: capitalize;
}
.route_time__station {
  font-size: 18px;
  color: var(--text-grey);
}
.route__body_prices {
  width: 37.14%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.seats_info {
  padding: 35px 22px 0 27px;
}
.seats_info__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  position: relative;
}
.seats_info__item_name {
  display: block;
  width: 40%;
  padding-top: 5px;
  color: var(--text-grey-700);
}
.seats_info__item_data {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.seats_info__item_count {
  padding-top: 5px;
  color: var(--text-orange);
  font-weight: 500;
}
.seats_info__item_price {
  color: #000;
  font-weight: 700;
  font-size: 24px;
}
.seats_info__item_price_text {
  display: inline-block;
  margin-right: 6px;
  transform: translate(0, -3px);
  color: var(--text-grey);
  font-weight: 400;
  font-size: 16px;
}
.seats_info__popover {
  position: absolute;
  top: 34px;
  left: -25px;
  width: calc(100% + 44px);
  padding: 10px 19px 8px 32px;
  background: #e5e5e5;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.seats_info__popover_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.seats_info__popover_item_name {
  color: #000;
  padding-top: 5px;
}
.seats_info__popover_item_price {
  color: #000;
  font-weight: 700;
  font-size: 24px;
}
.route__options {
  padding: 4px 12px 0 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: auto;
}
.route__options_item {
  margin-right: 16px;
}
.route__options_item:nth-child(1) svg,
.route__options_item:nth-child(3) svg {
  transform: translate(0, 1px);
}
.route__order {
  position: relative;
  padding: 28px 21px 23px 34px;
}
.route__order_btn {
  display: block;
  width: 100%;
  padding: 6px 0 5px 0;
  border-radius: 5px;
  border: none;
  background: var(--text-orange);
  color: white;
  font-weight: 700;
  font-size: 24px;
}
