@import '../../../css/mixins.scss';
.routes_page__container {
  max-width: 1490px;
  margin: 0 auto;
  display: flex;
}
.routes_page__aside {
  width: 100%;
  max-width: 448px;
  padding: 95px 46px 10px 42px;
}
.routes_page__main {
  width: 100%;
  max-width: calc(100% - 448px);
  padding: 95px 41px 0 41px;
}
.routes {
  margin-bottom: 142px;
}
.routes__item {
  margin-bottom: 47px;
}
.routes__item:last-child {
  margin-bottom: 0;
}
.route {
  display: flex;
  word-wrap: break-word;
  font-family: inherit;
  color: var(--text-primary);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.route__train {
  background-color: #e4e0e9;
  padding: 57px 0 30px 28px;
  width: 197px;
  border-bottom: 1px solid var(--text-grey-100);
}
.route__train_logo {
  padding-left: 16px;
  margin-bottom: 12px;
}
.route__train_id {
  padding-left: 30px;
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-grey-700);
}
.route__train_from svg {
  display: inline-block;
  margin-left: 7px;
}
.route__train_from,
.route__train_to {
  text-transform: capitalize;
}
.route__body {
  display: flex;
  width: calc(100% - 197px);
  position: relative;
  border: 1px solid var(--text-grey-100);
  border-left: none;
}
.route__body_time {
  width: 62.86%;
  max-width: 480px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-right: 1px dashed var(--text-white);
}
.route_time {
  display: flex;
  padding: 39px 10px 24px 10px;
}
.route_time__item {
  display: flex;
  flex-direction: column;
  width: 52%;
  padding-left: 48px;
}
.route_time__item--from {
  width: 40%;
  padding-left: 30px;
}
.route_time__duration {
  display: flex;
  width: 8%;
  flex-direction: column;
  align-items: center;
}
.route_time__duration_time {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--text-grey-100);
}
.route_time__duration svg.reversed {
  transform: rotate(180deg);
}
.route_time__time {
  color: #000;
  font-weight: 700;
  font-size: 24px;
}
.route_time__city {
  font-size: 18px;
  text-transform: capitalize;
}
.route_time__station {
  font-size: 18px;
  color: var(--text-grey);
}
.route_time__date {
  display: inline-block;
  margin-bottom: 21px;
  font-size: 18px;
  color: var(--text-grey);
}
.route__body_prices {
  width: 37.14%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.seats_info {
  padding: 35px 22px 0 27px;
}
.seats_info__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  position: relative;
}
.seats_info__item_name {
  display: block;
  width: 40%;
  padding-top: 5px;
  color: var(--text-grey-700);
}
.seats_info__item_data {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.seats_info__item_count {
  padding-top: 5px;
  color: var(--text-orange);
  font-weight: 500;
  cursor: pointer;
}
.seats_info__popover {
  position: absolute;
  top: 34px;
  left: -25px;
  width: calc(100% + 44px);
  padding: 10px 19px 8px 32px;
  background: var(--text-white);
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.seats_info__popover_item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.seats_info__popover_item_name {
  color: #000;
  padding-top: 5px;
}
.route__options {
  padding: 4px 12px 0 0;
  display: flex;
  justify-content: flex-end;
  margin-bottom: auto;
}
.route__options_item {
  margin-right: 16px;
  & svg {
    & path {
      fill: var(--text-grey-100);
    }
  }
  &--active {
    & svg {
      & path {
        fill: var(--text-orange);
      }
    }
  }
}
.route__options_item:nth-child(1) svg {
  transform: translate(0, 1px);
}
.route__options_item:nth-child(3) svg {
  transform: translate(0, -1px);
}
.route__order {
  position: relative;
  padding: 28px 21px 23px 34px;
}
.route__order_btn {
  display: block;
  width: 100%;
  padding: 6px 0 5px 0;
  border-radius: 5px;
  border: none;
  background: var(--text-orange);
  color: white;
  font-weight: 700;
  font-size: 24px;
}
.routes_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 47px;
  font-size: 18px;
  color: var(--text-grey);
}
.routes_header__item:nth-child(2) {
  display: flex;
}
.routes_header__sort {
  margin-right: 4px;
  display: flex;
}
.routes_header__sort_text {
  display: inline-block;
  margin-right: 2px;
}
.routes_header__sort_select {
  width: 139px;
  position: relative;
}
.routes_header__sort_select_field {
  padding-left: 7px;
}
.routes_header__sort_select_field_text {
  cursor: pointer;
}
.routes_header__sort_select_items {
  position: absolute;
  width: 100%;
  top: -8px;
  background: #f7f5f9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.routes_header__sort_select_item {
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 8px 11px 10px 7px;
  margin-right: 12px;
  background: none;
  border: none;
  color: var(--text-grey-700);
  font-family: inherit;
  font-size: inherit;
  border-bottom: 1px solid var(--text-white);
}
.routes_header__sort_select_item:last-child {
  border: none;
}
.routes_header__sort_select_item:hover {
  background: var(--bg-orange);
  color: white;
}
.routes_header__show_text {
  display: inline-block;
  margin-right: 6px;
}
.routes_header__show_btn {
  display: inline-block;
  padding: 0;
  margin-right: 12px;
  background: none;
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
}
.routes_header__show_btn:last-child {
  margin-right: 0;
}
.routes_header__show_btn--active {
  color: var(--text-grey-700);
}
.pagination {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 193px;
}
.pagination__item {
  margin-right: 37px;
}
.pagination__item.selected .pagination__btn {
  color: white;
  background: var(--text-orange);
  border: 2px solid var(--text-orange);
}
.pagination__btn {
  display: block;
  width: 75px;
  height: 75px;
  color: var(--text-grey);
  font-weight: 700;
  font-size: 30px;
  border: 2px solid var(--text-grey-100);
  border-radius: 5px;
  text-align: center;
  padding-top: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pagination__btn:hover {
  border: 2px solid var(--text-orange);
  color: var(--text-orange);
}
.pagination__dots {
  margin-right: 35px;
}
.pagination .previous a,
.pagination .next a {
  display: block;
  width: 75px;
  height: 75px;
  padding-top: 22px;
  text-align: center;
  border: 2px solid var(--text-grey-100);
  border-radius: 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.pagination .previous a:hover,
.pagination .next a:hover {
  border: 2px solid var(--text-orange);
}
.pagination .previous a:hover svg path,
.pagination .next a:hover svg path {
  fill: var(--text-orange);
}
.pagination .previous {
  margin-right: 35px;
}
.pagination .next svg {
  transform: rotate(180deg);
}
.routes_details {
  padding: 42px 36px 15px 28px;
  background: #3e3c41;
  margin-bottom: 95px;
}
.routes_details__title {
  margin-bottom: 10px;
  font-size: 30px;
  color: white;
}
.routes_details__title--price {
  margin-bottom: -6px;
}
.routes_details__dates {
  margin-bottom: 32px;
}
.routes_details__dates_item {
  position: relative;
}
.routes_details__dates_item:not(:last-child) {
  margin-bottom: 26px;
}
.routes_details__dates_item input {
  width: 100%;
  height: 43px;
  background: white;
  border-radius: 3px;
  border: none;
  padding: 0 56px 0 8px;
  font-size: 18px;
  font-family: inherit;
  color: var(--text-primary);
}
.routes_details__dates_item svg {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 22px;
}
.routes_details__options {
  position: relative;
  padding: 29px 0px 0px 40px;
  margin-bottom: 15px;
}
.routes_details__options::before {
  content: '';
  position: absolute;
  width: calc(100% + 64px);
  height: 1px;
  top: 0;
  left: -28px;
  background-color: white;
}
.routes_details__option:not(:last-child) {
  margin-bottom: 26px;
}
.routes_details__option_label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.routes_details__option_label:hover .routes_details__option_name_text {
  color: var(--text-orange);
}
.routes_details__option_icon {
  width: 30px;
  height: 30px;
}
.routes_details__option_icon--have_second_class svg {
  transform: translate(0, 4px);
}
.routes_details__option_icon--have_third_class svg {
  transform: translate(0, 3px);
}
.routes_details__option_icon--have_fourth_class svg {
  transform: translate(3px, -3px);
}
.routes_details__option_icon--have_first_class svg {
  transform: translate(-5px, 0);
}
.routes_details__option_icon--have_wifi svg {
  transform: translate(-7px, 1px);
}
.routes_details__option_icon--have_express svg {
  transform: translate(-4px, 0);
}
.routes_details__option_name {
  width: calc(100% - 102px);
  padding-left: 21px;
}
.routes_details__option_name_text {
  font-size: 18px;
  color: white;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.routes_details__option_checkbox {
  width: 72px;
  padding-top: 2px;
}
.routes_details__option_checkbox input {
  @include hiddenInput;
}
.routes_details__option_checkbox_fake_body {
  position: relative;
  display: block;
  width: 100%;
  height: 19px;
  border-radius: 9px;
  background: white;
  transition: 0.4s;
}
.routes_details__option_checkbox_fake_body::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  top: -4px;
  left: -1px;
  transition: 0.4s;
  background: var(--text-grey-100);
}
.routes_details__option_checkbox
  input:checked
  ~ .routes_details__option_checkbox_fake_body {
  background: var(--bg-orange-100);
}
.routes_details__option_checkbox
  input:checked
  ~ .routes_details__option_checkbox_fake_body::before {
  transform: translate(47px, 0);
  background: var(--text-orange);
}
.routes_details__price {
  padding: 37px 0 50px 0;
  position: relative;
}
.routes_details__price::before {
  content: '';
  position: absolute;
  width: calc(100% + 64px);
  height: 1px;
  top: 0;
  left: -28px;
  background-color: white;
}
.routes_details__price_range {
  padding: 0 35px;
  position: relative;
}
.routes_details__price_range::before,
.routes_details__price_range::after {
  position: absolute;
  font-family: inherit;
  color: var(--text-white);
}
.routes_details__price_range::before {
  content: 'от';
  top: 37px;
  left: 0px;
}
.routes_details__price_range::after {
  top: 37px;
  right: 0px;
  content: 'до';
}
.input-range {
  height: 80px !important;
  padding: 0 10px;
}
.input-range__track {
  height: 19px !important;
  background: none !important;
  border: 1px solid #c4c4c4 !important;
  border-radius: 8px !important;
}
.input-range__track--active {
  top: -1px;
  background: var(--text-orange) !important;
  border: none !important;
}
.input-range__slider {
  border: none !important;
  width: 24px !important;
  height: 24px !important;
  background: white !important;
  margin-top: -22px !important;
  margin-left: -12px !important;
}
.input-range__label {
  color: var(--text-white) !important;
  font-size: 16px !important;
  font-family: 'Roboto' !important;
}
.input-range__label--min,
.input-range__label--max {
  bottom: -3px !important;
}
.input-range__label--min .input-range__label-container,
.input-range__label--max .input-range__label-container {
  /* left: 0 !important; */
}
.input-range__label--value {
  top: -42px !important;
}
.route__duration {
  width: 37.14%;
  display: flex;
  align-items: center;
  justify-content: center;
  .duration {
    display: flex;
    // .duration__icon
    &__icon {
      transform: translate(-12px, 8px);
    }
    // .duration__time
    &__time {
      // .duration__time_row
      &_row {
        font-size: 18px;
      }
    }
  }
}

.routes__item--departure,
.routes__item--arrival {
  .route {
    background: var(--grey-bg);
    justify-content: space-between;
    box-shadow: none;
  }
  .route__train {
    width: 254px;
    border: none;
    padding: 15px 0 5px 92px;
    background-color: transparent;
    position: relative;
  }
  .route__train_id {
    padding-left: 0;
    margin-bottom: 4px;
  }
  .route__body {
    width: calc(100% - 254px);
    border: none;
  }
  .route__body_time {
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
  }
  .route__train_logo {
    position: absolute;
    top: 46px;
    left: 19px;
    & svg {
      width: 30px !important;
      height: 30px !important;
      & path {
        fill: var(--text-orange);
      }
      & circle {
        stroke: var(--text-orange);
      }
    }
  }
  .route__body_time {
    padding: 0;
    .route_time__duration_time {
      color: var(--grey-bg);
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }
  .route_time {
    padding: 22px 10px 24px 10px;
  }
}
.next_btn_container {
  padding: 70px 0 10px 10px;
  display: flex;
  justify-content: flex-end;
}
.routes_next_btn {
  @include rly_btn_orange();
}
