@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  /* font-family: 'Varela Round', sans-serif !important; */
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --text-primary: #292929;
  --text-white: #e5e5e5;
  --text-grey: #928f94;
  --text-grey-100: #c4c4c4;
  --text-grey-700: #3e3c41;
  --text-orange: #ffa800;
  --bg-orange: #ffca62;
  --bg-orange-600: #fdb935;
  --bg-orange-100: #fcdc9d;
  --grey-bg: #f7f6f6;
  --grey-bg-100: #F4F3F6;
  --bg-orange-500: #ffd98f;
  /* #2D2B2F */
}
