.header {
  padding: 15px 0 0 0;
  background-image: url('../../../images/header_main_bg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.logo {
  margin-bottom: 7px;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto 7px auto;
}
.logo__link {
  font-weight: 900;
  font-size: 36px;
  color: var(--text-white);
}
.nav {
  background-color: var(--text-primary);
}
.nav_list {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  padding: 24px 20px 32px 20px;
}
.nav_list__item {
  margin-right: 84px;
}
.nav_list__item_link {
  color: white;
  font-weight: 300;
  font-size: 30px;
}
.booking_form {
  max-width: 1440px;
  margin: 0 auto;
  padding: 253px 20px 0 20px;
  display: flex;
  justify-content: space-between;
}
.booking_form__title {
  color: white;
  padding-left: 89px;
  padding-top: 160px;
}
.booking_form__title_text_row,
.booking_form__title_text_subrow {
  display: block;
  font-size: 72px;
}
.booking_form__title_text_row {
  font-weight: 100;
}
.booking_form__title_text_subrow {
  font-weight: 700;
}
.booking_form__form {
  width: 100%;
  max-width: 730px;
  background: rgba(41, 41, 41, 0.8);
  padding: 110px 20px 50px 20px;
  border-radius: 3px 3px 0 0;
}
.booking_form__form_inputs_group {
  position: relative;
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.booking_form__form_inputs_group_title {
  font-weight: 300;
  font-size: 30px;
  line-height: 35px;
  color: white;
  position: absolute;
  top: -32px;
  left: 9px;
}
.booking_form__form_inputs_group_input_wrap {
  width: calc(50% - 18px);
  position: relative;
}
.booking_form__form_inputs_group_input_wrap input {
  width: 100%;
  height: 60px;
  padding: 0 46px 0 21px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-family: inherit;
  color: var(--text-primary);
}
.booking_form__form_inputs_group_input_wrap input[value] {
  text-transform: capitalize;
}
.booking_form__form_inputs_group_input_wrap input::placeholder {
  font-size: 18px;
  color: var(--text-white);
}
.booking_form__form_inputs_group_btn {
  background-color: transparent;
  border: none;
  width: 36px;
  height: 36px;
  margin-top: 11px;
  background-image: url('../../../images/icons/reverse.png');
  background-repeat: no-repeat;
  background-position: center;
}
.input__icon {
  position: absolute;
  top: 15px;
  right: 19px;
}
.booking_form__form_action {
  display: flex;
  justify-content: flex-end;
}
.booking_form__form_action_btn {
  padding: 16px 71px 15px 69px;
  background: rgba(255, 168, 0, 1);
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: var(--text-primary);
}
.header--collapsed {
  background-image: url('../../../images/header_order_bg.jpg');
}
.header--collapsed .booking_form {
  padding: 111px 20px 0 20px;
  max-width: 1530px;
}
.header--collapsed .booking_form__title {
  display: none;
}
.header--collapsed .booking_form__form {
  max-width: 100%;
  padding: 60px 38px 65px 47px;
}
.header--collapsed .booking_form__form_inputs {
  display: flex;
  justify-content: space-between;
}
.header--collapsed .booking_form__form_inputs_group {
  width: calc(50% - 19px);
}
.cities_select {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 5px;
}
.cities_select__placeholder {
  position: absolute;
  width: calc(100% - 46px);
  height: 60px;
  top: -60px;
  background-color: white;
  pointer-events: none;
  padding: 19px 20px 21px 21px;
  border-radius: 3px;
}
.cities_select__placeholder_text {
  text-transform: capitalize;
  font-size: 18px;
  color: var(--text-primary);
}
.cities_select__list {
  background: #f5f4f6;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
}
.cities_select__item_btn {
  display: block;
  width: 100%;
  border: none;
  text-align: left;
  font-size: 18px;
  font-family: inherit;
  text-transform: capitalize;
  background: none;
  padding: 13px 0 16px 19px;
}
.preloader {
  position: relative;
  background-color: var(--text-primary);
  height: 8px;
}
.preloader__value {
  width: 30%;
  height: 100%;
  background-color: rgba(255, 168, 0, 1);
}
